body {
  background: #181926;
}

.mydp {
  left: 0;
}

a.button.filterSort.filterQty.menuElement {
  display: none;
}

a.button.filterSort.menuElement {
  display: none;
}

section.filtersMenu {
  justify-content: flex-start;
}


.filtersMenuRight.prevNextGroup {
  margin-left: auto;
}
