body {
	font-size: 16px;
	color: #FFF;
    background-color: #181827;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Bricolage Grotesque, sans-serif;
	color: #FFF;
}

section.pageHeading h2 {
	font-size: 4rem;
	color: #FFF;
	font-family: Bricolage Grotesque, sans-serif;

}

section.resovaCalendar table td span.resovaCalendarSlotLabel {
	font-size: 1em;
	font-weight: 400;
	text-transform: none;
}
section.filtersMenu a {
 background-color: #292b41;
}

label {
	font-size: 1rem;
	text-transform: none;
}

.input, input {
	background-color: #292b41;
}

.textDanger, .inputContainer.requiredInput label:after, span.inputCaption.inputCaptionError {
	color: #ff858c
}

.checkbox label.error, input.error, select.error, textarea.error {
	border-color: #ff858c;
	background-color: #11060A;
}

article .articleBoxGroup {
	background: rgba(1, 1, 1, 0.8);

}


.input:focus, input:focus {
	border-color: #ffb806;
}





.inputContainer.ticketSelect .inputSpinnerWrapper {
 	background-color: #292b41;

}

.checkoutCountdown p span {
    position: static;
    top: 0;
    font-size: 1.25rem;
    line-height: inherit;
    letter-spacing: 0;
    font-variant-numeric: tabular-nums;
}

section.pageHeading p,
aside .bookingAsideWrapper .basketBooking .basketBookingItem .basketBookingItemDetails p {
	font-size: 1rem;
}


body, input, .input, .button.rescheduleDate, nav.mainMenu ul li a, nav.mainMenu ul li .selectWrapper:after, nav.mainMenu ul li select.input, section.filtersMenu a.button, section.filtersMenu .filtersMenuDateSelect a, section.resovaCalendar table td.bookingSelectReveal a.bookingSelectRevealClose, .card .cardContent .cardEventMetaGoBackContainer a.cardEventMetaGoBackButton, .card .cardContent .cardTimesContainer .showMoreTimesContainer a.showMoreTimesButton, .card .cardContent .cardTimesContainer .showMoreTimesContainer a.seeMoreDatesButton, .inventoryItemInformation .inventoryItemSharing ul li a, .card .cardContent .cardTimesContainer .cardTimeSlotWrapper .cardTimeSlot.cardTimeSlotUnavailable:hover, .card .cardActions a, .card .cardShare ul li a, .infoRibbon:before, .infoRibbon p, .infoRibbon a, .infoRibbon a.button.buttonRaised, nav.inventoryItemTabsNavigation ul li a, aside .bookingAsideWrapper .bookingAsideAddNewBooking .button, aside .bookingAsideWrapper .basketBooking .basketBookingItem .basketBookingItemDetails ul.basketActions li a, footer nav.footerMenu ul li a, footer .footerLogo a, .inputSpinnerWrapper .button.buttonRaised.inputSpinnerButton, .articleBox .infoRibbon p, .menu li a {
color: #FFF;
	
}

input, .input, section.bookingSteps ul li span.step, section.filtersMenu a.button.filterSort, section.filtersMenu .filtersMenuDateSelect a.button, aside.basketDropdown .bookingAsideWrapper .basketBooking, .timezoneNotice, .checkoutCountdown, .inventoryItemInformation .inventoryInformationSectionBreak, .inventoryItemInformation .inventoryItemSharing ul li.inventoryItemInfoIcon, .inventoryItemInformation .inventoryItemSharing ul li a, .inventoryItemInformation .inventoryItemSharing ul li input, .card, .card .cardContent .cardDescriptionPricingWrapper .cardDescription, .card .cardContent .cardCounterWrapper .cardPricing, .card .cardContent .cardTimesContainer:before, .card .cardContent .cardTicketPurchaseContainer:before, .card .cardContent .cardTimesContainer .cardTimeSlotWrapper .cardTimeSlot, .card .cardContent .cardTimesContainer .cardTimeSlotWrapper .cardTimeSlot.cardTimeSlotUnavailable:hover, .card .cardContent .cardEventMetaGoBackContainer:before, .card .cardContent .cardEventMetaGoBackContainer a.cardEventMetaGoBackButton, .card .cardContent .cardTimesContainer .showMoreTimesContainer a.showMoreTimesButton, .card .cardContent .cardTicketPurchaseContainer .cardTicketFooter, .card .cardActions a, .card .cardActions a:nth-of-type(2), .card .cardShare, .card .cardShare ul li, .inventoryListItem, .infoRibbon a.button.buttonRaised, nav.inventoryItemTabsNavigation:after, .eventSearchItem, .eventSearchContainer .eventSearchNoResults, article .waiverSignature .waiverSignatureBox, article .articleBox, article .articleBox .articleBoxInner .checkoutLoginRegisterBox, aside .bookingAsideWrapper, aside .bookingAsideWrapper .bookingAsideAddNewBooking, aside .bookingAsideWrapper .bookingAsideHeading, aside .bookingAsideWrapper .basketBookings, aside .bookingAsideWrapper .basketBookings .basketBooking, aside .bookingAsideWrapper .basketBooking .singleBookingTotal, aside .bookingAsideWrapper .bookingAsideTransactionBreakdownWrapper table.transactionTotals, aside .bookingAsideWrapper .bookingAsideTransactionMetaWrapper, aside .bookingAsideWrapper .bookingAsidePromoWrapper, aside .bookingAsideWrapper .basketBookings .basketBooking .basketBookingItem.basketBookingItemWExtra:before, aside .bookingAsideWrapper .basketBookings .basketBooking .basketBookingItem.basketBookingItemExtra:before, aside .bookingAsideWrapper .bookingAsidePasswordProtectWrapper, aside .bookingAsideWrapper .payFullAmountWrapper, aside .bookingAsideWrapper .taxFeeBreakdown, .inventoryItemReviews .inventoryItemReview, section.resovaCalendar table th, section.resovaCalendar table td, section.resovaCalendarList table td, table td.bookingSelectReveal, table.confirmationBookingsBreakdown td, table.confirmationBookingsBreakdown tr.bookingWExtra td.confirmationBookingsBreakdownInformation:before, .itemExtraListItemContainer, .itemExtraListItem, .loginRegisterBox, .loginRegisterBox .socialLoginRegisterWrapper, footer section.footerInner:before, .checkbox label:before, .inputSpinnerWrapper .button.buttonRaised.inputSpinnerButton, .inputSpinnerWrapper input.inputSpinnerInput, .dialogBackdrop .dialogWrapper .dialogContainer .dialogHeader, .dialogBackdrop .dialogWrapper.bookingSupportModal .dialogContainer .dialogBody .supportModalItem, .continueButtonSection, .menu, .menu li.seperator:after, .expressCheckoutOrLine, .stripeElement, .bookingManagerMenu:after, .bookingManagerMenu ul.bookingManagerMainMenu, .bookingManagerMenu ul li a,
input, .input, section.bookingSteps ul li span.step, section.filtersMenu a.button.filterSort, section.filtersMenu .filtersMenuDateSelect a.button, aside.basketDropdown .bookingAsideWrapper .basketBooking, .timezoneNotice, .checkoutCountdown, .inventoryItemInformation .inventoryInformationSectionBreak, .inventoryItemInformation .inventoryItemSharing ul li.inventoryItemInfoIcon, .inventoryItemInformation .inventoryItemSharing ul li a, .inventoryItemInformation .inventoryItemSharing ul li input, .card, .card .cardContent .cardDescriptionPricingWrapper .cardDescription, .card .cardContent .cardCounterWrapper .cardPricing, .card .cardContent .cardTimesContainer:before, .card .cardContent .cardTicketPurchaseContainer:before, .card .cardContent .cardTimesContainer .cardTimeSlotWrapper .cardTimeSlot, .card .cardContent .cardTimesContainer .cardTimeSlotWrapper .cardTimeSlot.cardTimeSlotUnavailable:hover, .card .cardContent .cardEventMetaGoBackContainer:before, .card .cardContent .cardEventMetaGoBackContainer a.cardEventMetaGoBackButton, .card .cardContent .cardTimesContainer .showMoreTimesContainer a.showMoreTimesButton, .card .cardContent .cardTicketPurchaseContainer .cardTicketFooter, .card .cardActions a, .card .cardActions a:nth-of-type(2), .card .cardShare, .card .cardShare ul li, .inventoryListItem, .infoRibbon a.button.buttonRaised, nav.inventoryItemTabsNavigation:after, .eventSearchItem, .eventSearchContainer .eventSearchNoResults, article .waiverSignature .waiverSignatureBox, article .articleBox, article .articleBox .articleBoxInner .checkoutLoginRegisterBox, aside .bookingAsideWrapper, aside .bookingAsideWrapper .bookingAsideAddNewBooking, aside .bookingAsideWrapper .bookingAsideHeading, aside .bookingAsideWrapper .basketBookings, aside .bookingAsideWrapper .basketBookings .basketBooking, aside .bookingAsideWrapper .basketBooking .singleBookingTotal, aside .bookingAsideWrapper .bookingAsideTransactionBreakdownWrapper table.transactionTotals, aside .bookingAsideWrapper .bookingAsideTransactionMetaWrapper, aside .bookingAsideWrapper .bookingAsidePromoWrapper, aside .bookingAsideWrapper .basketBookings .basketBooking .basketBookingItem.basketBookingItemWExtra:before, aside .bookingAsideWrapper .basketBookings .basketBooking .basketBookingItem.basketBookingItemExtra:before, aside .bookingAsideWrapper .bookingAsidePasswordProtectWrapper, aside .bookingAsideWrapper .payFullAmountWrapper, aside .bookingAsideWrapper .taxFeeBreakdown, .inventoryItemReviews .inventoryItemReview, section.resovaCalendar table th, section.resovaCalendar table td, section.resovaCalendarList table td, table td.bookingSelectReveal, table.confirmationBookingsBreakdown td, table.confirmationBookingsBreakdown tr.bookingWExtra td.confirmationBookingsBreakdownInformation:before, .itemExtraListItemContainer, .itemExtraListItem, .loginRegisterBox, .loginRegisterBox .socialLoginRegisterWrapper, footer section.footerInner:before, .checkbox label:before, .inputSpinnerWrapper .button.buttonRaised.inputSpinnerButton, .inputSpinnerWrapper input.inputSpinnerInput, .dialogBackdrop .dialogWrapper .dialogContainer .dialogHeader, .dialogBackdrop .dialogWrapper.bookingSupportModal .dialogContainer .dialogBody .supportModalItem, .continueButtonSection, .menu, .menu li.seperator:after, .expressCheckoutOrLine, .stripeElement, .bookingManagerMenu:after, .bookingManagerMenu ul.bookingManagerMainMenu, .bookingManagerMenu ul li a {
	border-color: #181827
}

td.bookingSelectReveal a.bookingSelectRevealClose, td.editBookingReveal a.bookingSelectRevealClose {
	z-index: 4;
}

.resovaCalendar table{
		background: rgba(1, 1, 1, 0.8);
	    color: white;
	}


/* do we need any of this? */

section.filtersMenu .filtersMenuLeft,
section.bookingSteps {
  display: none;
}

.cardTimesContainer .cardTimeSlotWrapper .cardTimeSlot {
	border: none;
}

.cardTimeSlot,
section.resovaCalendar td.standardTimeSlot.availableTimeSlot{
		background: #3b8a1e;
		color: white;
	}

	section.resovaCalendar td.standardTimeSlot.callToBookTimeSlot {
		background: black;
		color: white;
	}

.inventoryItemInformation .inventoryItemBookButtonWrapper .button.buttonRaised {
	background-color: #ffb806;
        color: #000;
}

.cardTimeSlot.cardTimeSlotUnavailable,
section.resovaCalendar td.standardTimeSlot.soldOutimeSlot,
section.resovaCalendar td.standardTimeSlot.soldOutTimeSlot,
section.resovaCalendar td.standardTimeSlot.blockedTimeSlot { /*typo in their class name, written rule to cover both current and probable corrected version */
		background: #9e242c !important;
		color: white;
	}

		section.resovaCalendar td.standardTimeSlot.closedTimeSlot {
		background: transparent;
		color: white;
	}

	section.resovaCalendar td.standardTimeSlot.closedTimeSlot span{
		font-size: 0px;
	}

	section.resovaCalendar td.standardTimeSlot.closedTimeSlot span:before{
		content: "\e922";
		font-family: ResovaIcons;
		font-size: 20px;
	}


aside .bookingAsideWrapper .basketBooking .basketBookingImage {
	display: none;
}

/* dropdown chevron alignment */
.button.rescheduleDate:after,
.selectWrapper:after {
	bottom: 0;
	top: auto;
	line-height: 44px;
	transform: none;
}


/* player qty input  */

.inputSpinnerWrapper input.inputSpinnerInput:disabled {
	-webkit-text-fill-color: inherit;
}
