body {
	font-size: 16px;
	color: #FFF;
    background-color: #181827;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}


body, input, .input, .button.rescheduleDate, nav.mainMenu ul li a, nav.mainMenu ul li .selectWrapper:after, nav.mainMenu ul li select.input, section.filtersMenu a.button, section.filtersMenu .filtersMenuDateSelect a, section.resovaCalendar table td.bookingSelectReveal a.bookingSelectRevealClose, .card .cardContent .cardEventMetaGoBackContainer a.cardEventMetaGoBackButton, .card .cardContent .cardTimesContainer .showMoreTimesContainer a.showMoreTimesButton, .card .cardContent .cardTimesContainer .showMoreTimesContainer a.seeMoreDatesButton, .inventoryItemInformation .inventoryItemSharing ul li a, .card .cardContent .cardTimesContainer .cardTimeSlotWrapper .cardTimeSlot.cardTimeSlotUnavailable:hover, .card .cardActions a, .card .cardShare ul li a, .infoRibbon:before, .infoRibbon p, .infoRibbon a, .infoRibbon a.button.buttonRaised, nav.inventoryItemTabsNavigation ul li a, aside .bookingAsideWrapper .bookingAsideAddNewBooking .button, aside .bookingAsideWrapper .basketBooking .basketBookingItem .basketBookingItemDetails ul.basketActions li a, footer nav.footerMenu ul li a, footer .footerLogo a, .inputSpinnerWrapper .button.buttonRaised.inputSpinnerButton, .articleBox .infoRibbon p, .menu li a {
color: #FFF;
	
}

.resovaCalendar table{
		background: rgba(1, 1, 1, 0.8);
	    color: white;
	}

section.filtersMenu .filtersMenuLeft,
section.bookingSteps {
  display: none;
}

.cardTimesContainer .cardTimeSlotWrapper .cardTimeSlot {
	border: none;
}

.cardTimeSlot,
section.resovaCalendar td.standardTimeSlot.availableTimeSlot{
		background: #3b8a1e;
		color: white;
	}

	section.resovaCalendar td.standardTimeSlot.callToBookTimeSlot {
		background: black;
		color: white;
	}

.cardTimeSlot.cardTimeSlotUnavailable,
section.resovaCalendar td.standardTimeSlot.soldOutimeSlot,
section.resovaCalendar td.standardTimeSlot.soldOutTimeSlot,
section.resovaCalendar td.standardTimeSlot.blockedTimeSlot { /*typo in their class name, written rule to cover both current and probable corrected version */
		background: #9e242c !important;
		color: white;
	}

		section.resovaCalendar td.standardTimeSlot.closedTimeSlot {
		background: transparent;
		color: white;
	}

	section.resovaCalendar td.standardTimeSlot.closedTimeSlot span{
		font-size: 0px;
	}

	section.resovaCalendar td.standardTimeSlot.closedTimeSlot span:before{
		content: "\e922";
		font-family: ResovaIcons;
		font-size: 20px;
	}


aside .bookingAsideWrapper .basketBooking .basketBookingImage {
	display: none;
}

/* dropdown chevron alignment */
.button.rescheduleDate:after,
.selectWrapper:after {
	bottom: 0;
	top: auto;
	line-height: 44px;
	transform: none;
}


/* player qty input  */

.inputSpinnerWrapper input.inputSpinnerInput:disabled {
	-webkit-text-fill-color: inherit;
}
