/*CUSTOM STYLES START*/


.labelPrice {
  display:none;
}
.ngcontent-c13 {
  display:none;
}
.eachtag
{
  color: white;
  display:none;
}

.preCheckoutContainer .transactionTotalDueNow{
  display: none;
}

section.bookingSteps, section.bookingWidgetHeader, section.pageHeading, header.bookingSiteHeader, footer{
	display: none !important;
}

div[formarrayname*='custom_fields'] .formBlock label {
    text-transform: none;
    font-size: 13px;
}

/* PB REMOVED
div[formarrayname*='custom_fields'] .selectWrapper:after {
    top: 69%;
} */


/*
section.resovaCalendar.resovaCalendarTimeSlotsOnly table tr >*:first-child {
    display: none;
}

section.resovaCalendarList td.resovaCalendarListInformation p{
	display: none;
}
/*


/* GIFT VOUCHER PAGE STYLES */

app-container:has(app-gift-voucher), app-container:has(app-gift-voucher) .giftVoucherContainer{
	background: black;
	color: white !important;
}

app-container:has(app-gift-voucher) .inventoryItemTabs, app-container:has(app-gift-voucher) footer, app-container:has(app-gift-voucher) .bookingSiteHeader, app-container:has(app-gift-voucher) .filtersMenu{
	display: none;
}

app-container:has(app-gift-voucher) section.checkoutContainer h3, app-container:has(app-gift-voucher) section.checkoutContainer h4, app-container:has(app-gift-voucher) section.checkoutContainer .input{
	color: white !important;
}


app-container:has(app-gift-voucher) img.giftVoucherPlaceholderBG{
	opacity: 0;
}

app-container:has(app-gift-voucher) .giftVoucherContainer{
	padding: 0 !important;
	width: 80% !important;
	max-width: 1080px !important;
}

app-container:has(app-gift-voucher) .giftVoucherContainer article{
	display: none !important;
}

app-container:has(app-gift-voucher) .giftVoucherContainer aside{
	width: 100% !important;
	max-width: 450px !important;
	padding: 0 !important;
}

app-container:has(app-gift-voucher) .inventoryInformationMediaContainer{
	background: url(https://lockhouse.co.uk/wp-content/uploads/2017/10/lockhouseLogoSquare-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
}

app-container:has(app-gift-voucher) .inventoryItemInformation:after{
	content: 'Lockhouse Escape Games gift vouchers can be used for the purchase of escape rooms or for any of our in-store board games and puzzles.';
}

app-container:has(app-gift-voucher) .selectWrapper select.input {
    background: white !important;
    color: black !important;
}

app-container:has(app-gift-voucher) .selectWrapper:after{
	top: 70%;
	color: black !important;
}

app-container:has(app-gift-voucher) .inventoryItemTabs{
	display: none;
}

app-container:has(app-gift-voucher) aside .bookingAsideWrapper .bookingAsideFooter .bookingAsideButtonWrapper, app-container:has(app-gift-voucher) .inventoryItemInformation .inventoryItemDescription{
	margin: 0 !important;
}

app-container:has(app-gift-voucher) .inputContainer.requiredInput label:after, app-container:has(app-gift-voucher) aside .bookingAsideWrapper .bookingAsideHeading.bookingAsideHeadingOpen:after{
	display: none !important;
}


@media screen and (max-width: 600px){

	app-container:has(app-gift-voucher) .inventoryInformationMediaContainer{
	    width: 62vw;
	    height: 62vw;
	}

}

@media screen and (min-width: 600px){

	app-container:has(app-gift-voucher) .inventoryInformationMediaContainer{
	    width: 40vw;
	    height: 40vw;
	    max-width: 307px;
	    max-height: 307px;
	}

}

@media screen and (min-width: 960px){

	app-container:has(app-gift-voucher) .inventoryInformationMediaContainer{
	    width: 21vw;
	    height: 21vw;
	    max-width: 240px;
	    max-height: 240px;
	}

}

@media screen and (min-width: 1200px){

	app-container:has(app-gift-voucher) .inventoryInformationMediaContainer{
	    width: 240px;
	    height: 240px;
	}

}


/* END GIFT VOUCHER PAGE STYLES */


/* EXTRA PAGE STYLES */

section.extraInformationContainer .inventoryItemPricing span{
	color: black !important;
}




/* END EXTRA PAGE STYLES */

/*MAIN STYLES AND SINGLE ROOM BOOKING */

.checkoutCountdown{
	background: black;
	color: white;
}

.checkoutCountdown span{
	color: white !important;
}


/* PB REMOVED
section.checkoutContainer{
	background: white;
	color: black !important;
	padding: 10px;
	border-radius: 5px;
}


section.checkoutContainer h1, section.checkoutContainer h2, section.checkoutContainer h3, section.checkoutContainer h4, section.checkoutContainer h5, section.checkoutContainer h6, section.checkoutContainer input, section.checkoutContainer .input{
	color: black !important;
}

section.checkoutContainer .bookingAsideAddNewBooking{
	background: black;
}


.button.buttonRaised{
	color: black;
	background-color: #ffba06;
}
*/

@media screen and (max-width: 1023px){

	app-container{
		padding-top: 0 !important;
	} 

	app-calendar-list section.filtersMenu:first-of-type {
	    display: none !important;
	}

	.filtersMenuLeft{
		display: none !important;
	}

	body, input, .input, .button.rescheduleDate, nav.mainMenu ul li a, nav.mainMenu ul li .selectWrapper:after, nav.mainMenu ul li select.input, section.filtersMenu a.button, section.filtersMenu .filtersMenuDateSelect a, section.resovaCalendar table td.bookingSelectReveal a.bookingSelectRevealClose, .card .cardContent .cardEventMetaGoBackContainer a.cardEventMetaGoBackButton, .card .cardContent .cardTimesContainer .showMoreTimesContainer a.showMoreTimesButton, .card .cardContent .cardTimesContainer .showMoreTimesContainer a.seeMoreDatesButton, .inventoryItemInformation .inventoryItemSharing ul li a, .card .cardContent .cardTimesContainer .cardTimeSlotWrapper .cardTimeSlot.cardTimeSlotUnavailable:hover, .card .cardActions a, .card .cardShare ul li a, .infoRibbon:before, .infoRibbon p, .infoRibbon a, .infoRibbon a.button.buttonRaised, nav.inventoryItemTabsNavigation ul li a, aside .bookingAsideWrapper .bookingAsideAddNewBooking .button, aside .bookingAsideWrapper .basketBooking .basketBookingItem .basketBookingItemDetails ul.basketActions li a, footer nav.footerMenu ul li a, footer .footerLogo a, .inputSpinnerWrapper .button.buttonRaised.inputSpinnerButton, .articleBox .infoRibbon p, .menu li a{
		color: white;
	}

	button.button.buttonRaised.buttonBlock, .availableTimeSlot, .button.availableTimeSlot{
	    color: black;
	    background: #FFBB06;
	}

}

@media screen and (min-width: 1024px){


	/* EXPERIMENTAL */

	i.icon-customers{
		display: none !important;
	}

	i.icon-customers +span{
	    max-width: 135px;
	    overflow: hidden;
	    display: none !important;
	}

	i.icon-customers +span:before{
	    content: "Max players: ";
	    display: none !important;
	}

	/* EXPERIMENTAL */

	.mydp .btnclear, .mydp .btndecrease, .mydp .btnincrease, .mydp .btnpicker, .mydp .headerbtn, .mydp .monthlabel, .mydp .yearlabel, .mydp .headermonthtxt, .mydp .headermonthtxt button, .mydp .headertodaybtn, .mydp .headeryeartxt, .mydp .yearchangebtn, .mydp .weekdaytitle, .mydp .daycell.disabled, .mydp .caltable, .mydp .daycell, .mydp .monthcell, .mydp .monthtable, .mydp .weekdaytitle, .mydp .yearcell, .mydp .yeartable, .mydp .highlight{
		color: white !important;
	}

	/*  PB REMOVED

	body{
		background: transparent;
	} 

	main{
		color: white;
	}
	*/

	section.bookingSteps, section.bookingWidgetHeader, section.pageHeading{
		display: none !important;
	}

	.filtersMenuLeft .filterSort{
		display: none !important;
	}
	.filtersMenuLeft .filterSort.browseAllItems{
		display: block !important;
	}

	/* PB REMOVED
	.filtersMenuRight a.button.filterSort {
	    border-left: solid 1px #dadada !important;
	} 


	a.button{ 
		background: black !important;
		color: white !important;
	 }

	 */

	section.resovaCalendar table td{
	  height: 80px;
	  font-size: 13px;
	  border: solid 1px #3A3A3A;
	}

	section.resovaCalendar table th{
	  height: 88px;
	  border: solid 1px #3A3A3A;
	}

	section.resovaCalendar td.standardTimeSlot.availableTimeSlot{
		background: #3b8a1e;
		color: white;
	}

	section.resovaCalendar td.standardTimeSlot.callToBookTimeSlot {
		background: black;
		color: white;
	}

	section.resovaCalendar td.standardTimeSlot.soldOutimeSlot, section.resovaCalendar td.standardTimeSlot.soldOutTimeSlot, section.resovaCalendar td.standardTimeSlot.blockedTimeSlot { /*typo in their class name, written rule to cover both current and probable corrected version */
		background: #9e242c !important;
		color: white;
	}

	section.resovaCalendar td.standardTimeSlot.closedTimeSlot {
		background: transparent;
		color: white;
	}

	section.resovaCalendar td.standardTimeSlot.closedTimeSlot span{
		font-size: 0px;
	}

	section.resovaCalendar td.standardTimeSlot.closedTimeSlot span:before{
		content: "\e922";
		font-family: ResovaIcons;
		font-size: 20px;
	}

	.resovaCalendar table{
		background: rgba(1, 1, 1, 0.8);
	    color: white;
	}

	table td.bookingSelectReveal{
		display: table-cell;
	}

	input{
		color: white !important;
	}

	.inventoryItemPricing span{
		color: white;
	}

	h1, h2, h3, h4, h5, h6{
		color: white;
	}

	i.icon-close{
		color: white !important;
	}

	app-basket-status section.preloadHidden.preloadVisible{
		padding: 0;
	}

	/*END MAIN STYLES AND SINGLE ROOM BOOKING */
	


	/* ALL ROOMS CARD VIEW  */

	.cardContainer .card{
		border: none;
		
	}

	.cardContainer .card .cardContent{
		color: white;
		background: black;
		/*padding: 0;*/
	}

	/*
	.cardContainer .card .cardContent h3{
		padding: 15px 15px 10px 15px;
		margin: 0;
	}
	.cardContainer .card .cardContent .cardDescriptionPricingWrapper{
		padding: 0px 15px 10px 15px;
		margin: 0;
	}
	*/

	.cardContainer .card .cardContent .cardDescriptionPricingWrapper .cardDescription p{
		min-height: 40px;  /* a min height should be used on the text description to prevent cards with longer descriptions being a different height. Value will change depending on description length */
	}

	.card .cardContent .cardTimesContainer{
		margin: 0;
		/*padding: 4px 9px 0px 9px;*/
	}

	.card .cardContent .cardTimesContainer:before{
        border: none;
        border-top: solid 1px white;
        margin: auto;
	}

	.card .cardActions a{
		background: #FFBA06;
		color: black;
		border-top: 1px solid black;
	}

	/* PB REMOVED  app-items-information .bookingAsideContent .selectWrapper:after{
		-webkit-transform: unset; 
    	transform: unset;
    	top: 60%;
	} */




/*
	section.checkoutContainer h1, section.checkoutContainer h2, section.checkoutContainer h3, section.checkoutContainer h4, section.checkoutContainer h5

		section.checkoutContainer *{
		color: black !important;
	}
	section.checkoutContainer .button.buttonRaised{
		color: white !important;
	}

*/

/*CUSTOM STYLES END*/

}


/* Pete's new overrides - will refactor */

body {
	font-size: 16px;
}

aside .bookingAsideWrapper .basketBooking .basketBookingImage {
	display: none;
}

.resovaCalendar table{
		background: rgba(1, 1, 1, 0.8);
	    color: white;
	}

section.filtersMenu .filtersMenuLeft,
section.bookingSteps {
  display: none;
}

.cardTimesContainer .cardTimeSlotWrapper .cardTimeSlot {
	border: none;
}

.cardTimeSlot,
section.resovaCalendar td.standardTimeSlot.availableTimeSlot{
		background: #3b8a1e;
		color: white;
	}

	section.resovaCalendar td.standardTimeSlot.callToBookTimeSlot {
		background: black;
		color: white;
	}

.cardTimeSlot.cardTimeSlotUnavailable,
section.resovaCalendar td.standardTimeSlot.soldOutimeSlot,
section.resovaCalendar td.standardTimeSlot.soldOutTimeSlot,
section.resovaCalendar td.standardTimeSlot.blockedTimeSlot { /*typo in their class name, written rule to cover both current and probable corrected version */
		background: #9e242c !important;
		color: white;
	}

		section.resovaCalendar td.standardTimeSlot.closedTimeSlot {
		background: transparent;
		color: white;
	}

	section.resovaCalendar td.standardTimeSlot.closedTimeSlot span{
		font-size: 0px;
	}

	section.resovaCalendar td.standardTimeSlot.closedTimeSlot span:before{
		content: "\e922";
		font-family: ResovaIcons;
		font-size: 20px;
	}



aside .bookingAsideWrapper .basketBooking .basketBookingImage {
	display: none;
}

/* dropdown chevron alignment */
.button.rescheduleDate:after,
.selectWrapper:after {
	bottom: 0;
	top: auto;
	line-height: 44px;
	transform: none;
}


/* player qty input  */

.inputSpinnerWrapper input.inputSpinnerInput:disabled {
	-webkit-text-fill-color: inherit;
}